.info-container{
    display: flex;
    color: #F2F3EB;
    justify-content:center;
    align-items: center;
    margin-top: 5rem;
  }
  
  .info-wrap{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  
  .info-img{
    width: 30vw;
    height: 50vh;
    margin-right: 2rem;
    transition: all 0.3s ease;
    border-radius: 5px;
  }
  
  .img-hov{
    transition: all 0.3s ease;
  }
  
  .img-hov:hover{
    transform: scale(1.01);
  }
  .info-txt p {
    word-wrap: break-word;
    width: 450px
  }