nav{
    height: 70px;
    width: 100%;
    background: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 7;
    position: sticky;
    top: 0;
}

nav ol{
    display: flex;
    list-style: none;
}

.nav-left, .nav-right{
    margin: 0 1rem;
}

.nav-li{
    margin-right: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.nav-li:hover{
    color: green;
}