.container{
  background-color: gray;
  height: 500px;
}

img {
  max-width: 100%;
}

.left, .right {
  position: absolute;
  height: 500px;
  background-color: transparent;
  width: 150px;
  color: white;
  border: none;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

